@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-padding-top: 2rem;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
}
:root{
     main-color:#fff9bc;
     second-color:#776d50;
}
section {
    padding: 50px 10%;
}
*::selection {
    color: #5e5843;
    background: #dbacac;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* Sectionings */
section {
    height: 100vh;
}
#one {
    padding-top: 20px;
    padding-bottom: 20px
}
#two {
    padding-top: 100px;
    height: 80vh;
}
/* NAVS */

nav img {
    margin: 25px;
    width: 70px;
}


nav {
    padding-right: 20px;
    background-color: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;


    background: #F3E5AB;

}


nav a {
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

}

nav a:hover{
    color: #885b46;
}
.orderbutton{
    border-radius: 50px;
    background: #FFD700;
}
/*!! nav items!! */
a:link,
a:visited {
    background-color: none;
    color: #000000;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
/* BELOW NAV */
.belownav{
    background: #3E2723;
}
.belownav img {
    padding: 5px;
    width: 80px;
    display: block;
    margin: auto;
}
nav, .belownav {
    position: sticky;
}
.floatingbutton {
    background-color: #FFD700;
    position: fixed;
    width: 196px;
    height: 52px;
    flex-shrink: 0;


    border-radius: 50px;
    text-align: center;
    bottom: 1rem;
    right: 0;
    left: 0;
    margin: auto;


    color: #000;
        font-family: Inter;
        font-size: 15px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
                    z-index: 1;
}

#one {
        background-image: url("aboutus2.jpg");
            background-repeat: no-repeat;
            background-size: cover;
            filter: blur(10px);


}

#two{
    background-image: url("bgvector.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}





/* BOX CONTENT */
#f1 {
    background-color: #DDA46F;
    border: none;
    width: 100%;
    display: flex;
    justify-content: center;
    min-width: auto;

}

.box-one img {
    width: 50%;
    padding: 10px;
    float: left;

}

.box-content {
    padding-top: 20vh;
    padding-right: 15vh;
            text-align: left;
            color: #000000;
            float: right;
            font-family: "Merriweather", serif;
            font-weight: 700;
            font-style: normal;
  

}

ol {
    font-size: 15px;
}




/* FOOTER */
footer {
    background-color: #F3E5AB;
    text-align: center;
    bottom: 0;
    width: 100%;
    height: 15vh;
    display: flex;
}
footer img {
    padding-top: 4vh;
    margin-left: 40px;
    width: 5vh;
    height: 10vh;
}
.footericons {
    color: #000;
    text-align: left;
    font-size: 25px;
    padding-left: 5vh;
    padding-top: 4vh;
}
.footertext {
    padding-left: 5vh;
    padding-top: 6vh;
    text-align: right;
    display: flex;
}
.heading {
    text-align: center;
    text-transform: uppercase;
}
.heading h1{
    font-size: 2rem;
    color: #fdeb85;
}
.heading h3{
    color: #fdf5d3;
}
.heading h4{
    color: #f7d39d;
}
.heading h2{
    color: #fdf5d3;
}